Gardenia_IOS.xcodeproj/project.xcworkspace/xcuserdata/narekmatosyan.xcuserdatad/UserInterfaceState.xcuserstate
Gardenia_IOS.xcodeproj/xcuserdata/narekmatosyan.xcuserdatad/xcschemes/xcschememanagement.plist
